@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #002339;
    color: #fff;
}
.container{
    width: 80vw;
    margin: 100px 30px 20px;
    box-sizing: border-box;
}
h1{
    font-size: 28px;
}
h1 span{
    color: green;
    font-size: 25px;
}
.line{
    width: 240px;
    height: 3px;
    background: green;
}
.display{
    margin: 20px 0px;
    max-width: 380px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    height: 50px;
    align-items: center;
    padding: 10px;
}
input{
    border: 0;
    outline: 0;
    margin: 0px 5px;
    flex: 1;
}
.display img{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.button{
    border: 0;
    outline: 0;
    border-radius: 5px;
    width: 220px;
    background: green;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    cursor: pointer;
}
.button span{
    margin: 0px 5px;
}
.button img{
    width: 15px;
    height: 20px;
    margin-left: 10px;
}